<div class="inset picture1" style="background-image: url('http://us.moo.com/images/homepage/slideshowholiday6.jpg?q=1-192940640724932132034259644674');">
</div>
<div class="inset picture2" style="background-image: url('http://us.moo.com/images/homepage/slideshow1.jpg?q=1-60058523888130218419610173');">
</div>
<div class="inset picture3" style="background-image: url('http://us.moo.com/images/homepage/slideshow2.jpg?q=1-51644986130218495877524');">
</div>

<div class="clear"></div>

<div class="inset box">

  <div class="walrus" style="background-color: #26444D;"><h1 class="tusk">hello</h1></div>
  <div class="walrus" style="background-color: #86B23A;"><h1 class="tusk">paper1</h1></div>
  <div class="walrus" style="background-color: #C5E6E7;"><h1 class="tusk">paper2</h1></div>
  <div class="walrus" style="background-color: #B20321;"><h1 class="tusk">paper3</h1></div>
  
  <div class="clear"></div>
  
  <div class="sweater">
  Let's have some text here, shall we?
  </div>
  

  
</div>

<div id="upupup">
  <a href="#"><img src="/images/uparrow.png" width="100px"></a>
</div>