

<h1 class="subtle">Some tagline that I cannot think of currently.</h1>
<div class="inset picture1" style="background-image: url('http://us.moo.com/images/homepage/slideshowholiday6.jpg?q=1-192940640724932132034259644674');">
  <div class="commentary">
    <h1>Premade designs</h1>
    Choose from our gallery of art and templates.
  </div>
</div>
<div class="inset picture2" style="background-image: url('http://us.moo.com/images/homepage/slideshow1.jpg?q=1-60058523888130218419610173');">
  <div class="scommentary">
    <h1>Make your own</h1>
    Use our tools to create your own unique look.
  </div>
</div>
<div class="inset picture3" style="background-image: url('http://us.moo.com/images/homepage/slideshow2.jpg?q=1-51644986130218495877524');">
  <div class="scommentary">
    <h1>Beautiful paper</h1>
    Choose from one of three high quality cards.
  </div>
</div>

<div class="clear"></div>

<h1 class="subtle" id="papers">See our selection of pretty papers.</h1>
<div class="inset box">

  <div class="walrus" id="blokus"><h1 class="tusk">hello</h1></div>
  <div class="walrus" id="tetris"><h1 class="tusk">paper1</h1></div>
  <div class="walrus" id="jenga"><h1 class="tusk">paper2</h1></div>
  <div class="walrus" id="tangrams"><h1 class="tusk">paper3</h1></div>
  
  <div class="clear"></div>
  <div id="ice">
    <div id="iceskates"></div>
  </div>
  
  <div class="sweater">
    <div class="hoodie">
      <div id="desc">Shoreditch tofu cardigan artisan squid. Vinyl artisan fanny pack cliche shoreditch squid. Etsy williamsburg brooklyn, 8-bit salvia twee artisan 3 wolf moon portland before they sold out yr +1 lo-fi. Iphone banksy hoodie leggings chambray fixie, squid skateboard tofu mlkshk DIY VHS high life. Food truck wayfarers banksy locavore viral, art party keffiyeh gluten-free yr sustainable. Vinyl farm-to-table vice pitchfork, before they sold out banh mi vegan salvia single-origin coffee stumptown quinoa american apparel. Irony gluten-free brooklyn fixie yr.
      </div>
      
      <div id="pic1">
        DIY skateboard tattooed, aute anim mollit etsy mustache. Ea delectus carles, VHS master cleanse fugiat craft beer chambray ut bicycle rights squid exercitation leggings fap. Vinyl shoreditch nostrud, cillum irony sed sartorial next level Austin twee freegan portland id leggings vegan. Iphone duis dolor placeat +1 fugiat jean shorts american apparel. Salvia banksy incididunt VHS, brooklyn freegan butcher wolf messenger bag sartorial. Readymade wes anderson organic bicycle rights, fap yr raw denim excepteur tempor quis. Quinoa nihil wayfarers cardigan readymade laboris.
      </div>
      
      <div id="pic2">
        Labore VHS organic, exercitation mollit id placeat sed occaecat brooklyn velit cardigan. Culpa vice readymade laborum, nulla salvia gentrify ex stumptown bicycle rights non artisan VHS mollit. Scenester placeat +1 pitchfork, lo-fi stumptown sunt cred trust fund qui veniam ad retro. Wes anderson aesthetic blog, readymade 8-bit beard banh mi. Keytar yr four loko high life. Art party placeat trust fund biodiesel, non qui retro keffiyeh food truck viral sustainable. Consectetur twee seitan reprehenderit, nostrud nulla tofu DIY ethical est.
      </div>
      
      <div id="pic3">
        Ut aesthetic eu before they sold out, adipisicing brooklyn ea seitan nihil. Tofu in fanny pack cliche. Cupidatat voluptate id, etsy pitchfork 8-bit aute gentrify vinyl odio. Retro seitan williamsburg, synth wes anderson culpa magna four loko. Messenger bag occaecat single-origin coffee nulla, wolf 3 wolf moon accusamus put a bird on it mlkshk banksy fixie keffiyeh blog. Cupidatat art party twee aute commodo. Adipisicing portland vice etsy.
      </div>
      
    </div>
  </div>
  

  
</div>

<h1 class="subtle" id="pricing">See our pricing options.</h1>
<div class="inset box">
  <div class="sweater">
    Some table thing will go here in the future.
  </div>
</div>

<!--h1 class="subtle" id="purchase">Click the stupidly large button to move on.</h1>
<div id="stupid" class="inset">
  Buy!
</div-->


<div id="moosespeaks" class="inset">
  <div class="sweater">
    Buy cards now.
    <br>I am a classy moose. I would know.
  </div>
</div>
<div class="cattail"></div>
<img src="/images/moose.png" width="400px" class="subtle right">

<div class="clear"></div>

