<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title>inkbranch</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="description" content=""> 
<meta name="keywords" content=""> 
 
 
<link href="/css/style.css" rel="stylesheet" type="text/css"> 
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
<script type="text/javascript" src="/js/jquery.color.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<% if (page === 'payment') { %>
  <script type="text/javascript" src="/js/pay.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>

  <script type="text/javascript">
// Test mode
Stripe.setPublishableKey('pk_F56u4OJSBqDz79RcMBLNVNIciEVqX');
    
function stripeResponseHandler(status, response) {
  if (response.error) {
    // TODO: determine if this can all be handled server side.
    $(".payment-errors").html(response.error.message);
  } else {
    var form$ = $("#payment-form");
    var token = response['id'];
    form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
    form$.get(0).submit();
  }
}   
  
$(document).ready(function() {
  $("#payment-form").submit(function(event) {
    // disable the submit button to prevent repeated clicks
    $('.submit-button').attr("disabled", "disabled");
    var amount = 1000;
    Stripe.createToken({
        number: $('.card-number').val(),
        cvc: $('.card-cvc').val(),
        exp_month: $('.card-expiry-month').val(),
        exp_year: $('.card-expiry-year').val()
    }, amount, stripeResponseHandler);

    // prevent the form from submitting with the default action
    return false;
  });
});

  </script>
<% } %>

<script type="text/javascript">
  
</script>

</head> 
 
<body>
  <div id="top"></div>
    <div id="navigation">
      <div id="navigationlines"></div>
    </div>
    <div id="cup">
      <div id="water">
        <div id="ink"></div>
      </div>
    </div>
    <div id="navigationlinks">
      <h2>
      <% if (page === 'home') { %><a href="/#top" class="scroll">home</a>
      <a href="/#papers" class="scroll">papers</a>
      <a href="/#pricing" class="scroll">pricing</a><% } else {%>
      <a href="/home">home</a>
      <a href="/home#papers">papers</a>
      <a href="/home#pricing">pricing</a><% } %>
      <a href="/designs">designs</a>
      <a href="/purchase">purchase</a></h2>
    </div>
    <div id="title">
      <div id="holdplacer">
        inkbranch
      </div>
    </div>
      <div id="wrapper">
    <div id="pushdown">
      <div id="toppadding">
        <div id="content">
          <% if(info.length > 0) { 
               for(var i = 0, ii = info.length; i < ii; i++) { %>
                <h2><%=info[i]%></h2>
          <%   }
              }  %>
          <%-body%>
          <div id="upupup">
            <a href="#top" class="scroll"><img src="/images/uparrow.png" width="100px"></a>
          </div>
        </div>
        <div id="soles">
        </div>
      </div>
    </div>
  </div>
  
  <div id="footer" class="tbpadding">
      Politics
  </div>
</body> 
</html> 
