<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title>inkbranch</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="description" content=""> 
<meta name="keywords" content=""> 
 
 
<link href="/css/style.css" rel="stylesheet" type="text/css"> 
<link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
<script type="text/javascript" src="/js/jquery.color.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

</head> 
 
<body>
  <div id="top"></div>
    <div id="tophat">
      <div id="footsteps"></div>
    </div>
    <div id="tophatbow">
      <h2>
      <% if (page === 'home') { %><a href="/#top" class="scroll">home</a>
      <a href="/#papers" class="scroll">papers</a>
      <a href="/#pricing" class="scroll">pricing</a><% } else {%>
      <a href="/home">home</a>
      <a href="/home#papers">papers</a>
      <a href="/home#pricing">pricing</a><% } %>
      <a href="/designs">designs</a>
      <a href="/purchase">purchase</a></h2>
    </div>
    <div id="sunglasses">
      <div id="holdplacer">
        inkbranch<span class="blood">.</span>
      </div>
    </div>
      <div id="socks">
    <div id="sparkles">
      <div id="bow">
        <div id="rapper">
          <%-body%>
          <div id="upupup">
            <a href="#top" class="scroll"><img src="/images/uparrow.png" width="100px"></a>
          </div>
        </div>
        <div id="soles">
        </div>
      </div>
    </div>
  </div>
  
  <div id="rainboots" class="vest">
      Politics
  </div>
</body> 
</html> 
