


<div class="inset box" id="loginbox"><h2>Sign in</h2></div>

<div class="inset box" id="registerbox"><h2>Register</h2></div>


<!--
<% if(locals.login) { %>
<%-login%>
<% } %>
===========
<% if(locals.register) { %>
<%-register%>
<% } %>



<h1 class="subtle">Sign in</h1>
<form action="?" method="post">
<input type="text" name="email">
<input type="text" name="password">
<button></button>
</form>

<h1>register</h1>
<form action="?" method="post">
<input type="text" name="email">
<input type="text" name="password">
<input type="hidden" name="register" value="true">
<button></button>
</form>
-->