<div class="inset box">
<div class="sweater">


  <form method="POST" id="payment-form">
 
    <div class="inputgroup" id="cardgroup">
      <div class="inputlabel">Credit card number</div>
      <input type="text" autocomplete="off" class="card-number" size="30" placeholder="Card number">  
    </div>
    
    
    <div class="formrow">
      <div class="inputlabel">Expiration (MM/YYYY)</div>
      <input type="text" size="2" class="card-expiry-month"/>
      <span class="inputlabel"> / </span>
      <input type="text" size="4" class="card-expiry-year"/>
    </div>

    <div class="inputgroup" id="cvcgroup">
      <div class="inputlabel">CVC</div>
      <input type="text" size="14" class="card-cvc" placeholder="CVC">
    </div>
 
    <button type="submit" class="submit-button">Complete Order</button>

  </form>
</div>
</div>