<div class="inset box">
<div class="sweater">

  <form action="/payment/submit" method="POST" id="payment-form">
 
    <div class="inputgroup" id="cardgroup">
      <div class="inputlabel">Credit card number</div>
      <input type="text" autocomplete="off" class="card-number" size="30" placeholder="Card number">  
    </div>
    
    
    <div class="formrow">
      <div class="inputlabel">Expiration (MM/YYYY)</div>
      <input type="text" size="2" class="card-expiry-month"/>
      <span class="inputlabel"> / </span>
      <input type="text" size="4" class="card-expiry-year"/>
    </div>

    <div class="inputgroup" id="cvcgroup">
      <div class="inputlabel">CVC</div>
      <input type="text" size="14" class="card-cvc" placeholder="CVC">
    </div>
 

    <div class="form-row">
      <h1>Shipping Address</h1>
      <label>Address Line 1</label>
      <input type="text" size="20" name="shipstreet"/>
      <label>Address Line 2 (optional)</label>
      <input type="text" size="20" name="shipstreet2"/>
      <label>City</label>
      <input type="text" size="20" name="shipcity"/>
      <label>State/Province/Region</label>
      <input type="text" size="4" name="shipstate"/>
      <label>ZIP code</label>
      <input type="text" size="4" name="shipzip"/>
      <label>Phone number</label>
      <input type="tel" size="6" name="phone"/>
      
      <!-- TODO: Separate billing address? -->
      
    </div>
    <div class="form-row">
      <label>Email</label>
      <input type="email" size="20" name="email"/>
    </div>
    <input type="hidden" name="amount" value="1000">
    <button type="submit" class="submit-button">Complete Order</button>

  </form>
</div>
</div>