html{color:#000;background:#FFF;}body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

@font-face {
  font-family: 'someserif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/seriffont.woff') format('woff');
}

@font-face {
  font-family: 'boldserif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/boldseriffont.woff') format('woff');
}

@font-face {
  font-family: 'italserif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/seriffont2.woff') format('woff');
}

@font-face {
  font-family: 'sansserif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/sansserif2.woff') format('woff');
}

body, html {
  font-size: 18px;
  font-family: 'sansserif';
  color: #000;
  line-height: 30px;
  background-image: url('/images/gpaper.png');
  height: 87.5%;
  margin: 0px;
  background-attachment: fixed;
  text-shadow: 0px 0px 1px #ddd;
}

h1 {
  margin: 20px 0 10px 0;
}

p {
  margin: 5px 0;
}

/* Input */
input {
  outline: 0;
  border: 5px solid rgba(0,0,0,0.08);
  padding: 5px;
  transition: border-color 150ms ease-in;
  -o-transition: border-color 150ms ease-in; 
  -moz-transition: border-color 150s ease-in; 
  -webkit-transition: border-color 150ms ease-in;
  -webkit-border-radius: 2px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0;
}

.green {
  border-color: #b9fbb9;
}

.red {
  border-color: #fbb9b9;
}

input:focus {
  border: 5px solid rgba(0,0,0,0.2);
}

.inputgroup input {
  float: left;
}

.inputcaption {
  display: block;
  height: 21px;
  padding: 5px 15px;
  margin: 7px 5px 5px 0;
  line-height: 21px;
  float: left;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0;
}

.inputcaptiontriangle {
  float: left;
  width: 0px;
  border: 8px solid transparent;
  margin: 14px 0;
  border-right: 8px solid #fff;
  opacity: 0;
}

.inputlabel {
  margin-top: 10px;
  font-size: 22px;
  color: #333;
}

.left {
  margin-right: 25px;
  float: left;
}

button {
  outline:0;
  border: 0;
  padding: 5px 10px 4px 10px;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  border-bottom: 3px solid rgba(0,0,0,0.05);
  background-color: #b9fbb9;
  margin: 25px 5px;
  cursor: pointer;
  transition: all 150ms ease-in;
  -o-transition:all 150ms ease-in; 
  -moz-transition:all 150s ease-in; 
  -webkit-transition:all 150ms ease-in;
  
}

button:hover {
  border-color: rgba(0,0,0,0.2);
}

/* Logo holder */
#holdplacer {
  font-size: 60px;
  font-family: 'boldserif';
  text-shadow: 0px 1px 0px #000;
  color: #f0f0f0;
  line-height: 80px;
  z-index: 50;
}


#title {
  width: 100%;
  height: 100px;
  margin-top: 50px;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 25px;
  z-index: 50;
  position: fixed;
}


#pushdown {
  margin-top: 160px;
  width: 100%;
  z-index: 100;
  position: relative;
}

#toppadding {
  position: relative;
  width: 100%;
  /*margin-top: 160px;*/
  
  z-index: 100;
  padding-top: 30px;
  /*-moz-box-shadow: 1px 0px 10px #000;
  -webkit-box-shadow: 1px 0px 10px #000;
  box-shadow: 1px 0px 10px #000;*/
  border-top: 1px solid #fff;
}

#content {
  width: 900px;
  margin: 0 auto;
}

/* Content box stylings. */
.inset {
  -moz-box-shadow: 1px 0px 7px #ccc;
  -webkit-box-shadow: 1px 0px 7px #ccc;
  box-shadow: 1px 0px 7px #ccc;
}

.box {
  background-color: #f0f0f0;
  border: 1px solid #fff;
  margin-bottom: 25px;
}

.picture1 {
  width: 500px;
  height: 300px;
  margin-right: 10px;
  float: left;
  margin-bottom: 25px;
}

.picture2 {
  width: 350px;
  height: 150px;
  margin-bottom: 10px;
  float: right;
}

.picture3 {
  width: 350px;
  height: 120px;
  margin-bottom: 25px;
  float: right;
 
}

.picture {
  cursor: pointer;
  transition:border-color 150ms ease-in;
  -o-transition:border-color 150ms ease-in; 
  -moz-transition:border-color 150s ease-in; 
  -webkit-transition:border-color 150ms ease-in;
  border: 10px solid #fff;
}

.picture:hover {
  border-color: #eee;
}

.clear {
  clear: both;
}

/* Extra padding. */
.sweater {
  padding: 20px 27px;
}

/* Paper boxes. */
.walrus {
  height: 100px;
  width: 224px;
  margin: 0px 1px 0px 0px;
  float: left;
  background-color: #000;
  cursor: pointer;
}

.tusk {
  font-family: 'sansserif';
  /*font-family: 'Sofia';*/
  font-size: 30px;
  margin-top: 60px;
  text-transform: uppercase;
  padding-left: 10px;
  line-height: 40px;
  font-weight: normal;
  letter-spacing: 2px;
}

/* Holds all the content. */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -90px;
  position: relative;
  background-image: url('/images/linen.png');
  top:0px;
  -moz-box-shadow: 1px 0px 10px #000;
  -webkit-box-shadow: 1px 0px 10px #000;
  box-shadow: 1px 0px 10px #000;
  z-index: 100;
}

/** Top-bottom extra padding. Inaptly named. */
.tbpadding {
  padding: 20px 0;
}

/* Footer with rain protection. */
#footer {
  position: relative;
  z-index: 101;
  text-align: center;
  bottom: 0px;
  left: 0px;
  text-shadow: 0px 1px 0px #000;
  background-image: url('/images/gpaper.png');
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  height: 50px;
  font-family: 'sansserif';
  -moz-box-shadow: inset 1px 3px 10px #111;
  -webkit-box-shadow: inset 1px 3px 10px #111;
  box-shadow: inset 0px 3px 10px #111;
  border-top: 1px solid #fff;
}

.cattail {
	border-color: transparent transparent transparent #26444D;
	border-style: solid;
	border-width: 30px;
	height: 0px;
	width: 0px;
	position: relative;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	margin: -10px 0 0 -30px;
	float: left;
}

/* Little floating triangle. */
#iceskates {
	border-color: transparent transparent transparent #26444D;
	border-style: solid;
	border-width: 30px;
	height: 0px;
	width: 0px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	position: relative;
}

/* Back to top. */
#upupup {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 20px;
}

#upupup a {
  opacity: 0.2;
  transition:opacity 150ms ease-in;
  -o-transition:opacity 150ms ease-in; 
  -moz-transition:opacity 150s ease-in; 
  -webkit-transition:opacity 150ms ease-in;
}

#upupup a:hover {
  opacity: 0.3;
}

/* Red text. */
.blood {
  color: #B20321;
  text-shadow: 0px 1px 0px #ccc;
}

/* Invisible footer pusher. */
#soles {
  height: 90px;
}

/* Navigation bar. */
#navigation {
  position: fixed;
  z-index: 101;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  -moz-box-shadow: 1px 0px 10px #111;
  -webkit-box-shadow: 1px 0px 10px #111;
  box-shadow: 1px 0px 10px #111;
  background-color: #5b3800;
  border-bottom: 1px solid #673f00;
}

/* Stupidly large button. */
#stupid {
  width: 300px;
  height: 100px;
  margin-left: 300px;
  background-color: #B20321;
  border: 1px solid #D3294D;
  margin-bottom: 30px;
  font-family: 'boldserif';
  font-size: 60px;
  line-height: 90px;
  color: #4F0011;
  text-shadow: 1px 1px 0px #D3294D;
  text-align: center;
}

/* Navigation bar flourishes. */
#navigationlinks {
  position: fixed;
  z-index: 103;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  text-align: center;
}

#ink {
  height: 50px;
  width: 200px;
  margin-left: 0px;
background: -moz-radial-gradient(center, ellipse cover,  rgba(153,100,26,1) 0%, rgba(160,110,49,0.47) 25%, rgba(160,110,49,0) 47%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(153,100,26,1)), color-stop(25%,rgba(160,110,49,0.47)), color-stop(47%,rgba(160,110,49,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(153,100,26,1) 0%,rgba(160,110,49,0.47) 25%,rgba(160,110,49,0) 47%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(153,100,26,1) 0%,rgba(160,110,49,0.47) 25%,rgba(160,110,49,0) 47%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(153,100,26,1) 0%,rgba(160,110,49,0.47) 25%,rgba(160,110,49,0) 47%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  rgba(153,100,26,1) 0%,rgba(160,110,49,0.47) 25%,rgba(160,110,49,0) 47%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99641a', endColorstr='#00a06e31',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#water {
  width: 650px;
  margin: 0 auto;
  height: 50px;
  opacity: 0.4;
}

#cup {
  position: fixed;
  z-index: 102;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
}

#navigationlinks h2 {
  border-bottom: 1px dashed #673f00;
  border-top: 1px dashed #673f00;
  line-height: 35px;
  margin: 0px;
  margin-top: 6px;
}

#navigationlinks a {
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0px 1px 0px #804e00;
  font-family: 'sansserif';
  font-size: 20px;
  margin: 0 20px;
  color: #000;
  font-weight: normal;
}

#navigationlines {
  border-top: 1px dashed #241600;
  border-bottom: 1px dashed #241600;
  height: 36px;
  margin-top: 7px;
}

.subtle {
  color: #000;
  opacity: 0.15;
  font-family: 'boldserif';
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin-top: 0;
  text-shadow: 0px 1px 0px #fff;
}

#wrapper h2 {
  color: #000;
  opacity: 0.15;
  font-family: 'boldserif';
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
  text-shadow: 0px 1px 0px #fff;
}



.right {
  float: right;
}

#moosespeaks {
  width: 400px;
  height: 180px;
  margin-top: 20px;
  float: left;
  background-color: #26444D;
  font-family: 'Sofia';
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}

#ice {
  height: 30px;
  width: 100%;
  margin-top: -1px
}

#blokus {
  background-color: #26444D; 
  text-shadow: 0px 1px 0px #000; 
  color: #fff;
}

#tetris {
  background-color: #86B23A; 
  text-shadow: 0px 1px 0px #26444D; 
  color: #fff;
}

#jenga {
  background-color: #C5E6E7; 
  text-shadow: 0px 1px 0px #fff; 
  color: #405959;
}

#tangrams {
  background-color: #B20321; 
  text-shadow: 0px 1px 0px #4F0011; 
  color: #fff;
  margin-right: 0px;
  width: 223px;
}

#pic1, #pic2, #pic3 {
  display: none;
}

.commentary, .scommentary {
  background-color: rgba(256, 256, 256, 0.7);
  padding: 10px;
  font-family: 'sansserif';
  color: #333;
  margin-top: 10px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.commentary h1, .scommentary h1 {
  margin: 5px 0;
  text-shadow: 0px 1px 0px #fff;
  font-family: 'someserif';
}

#top {
  position: absolute;
  top: 0px;
  left: 0px;
}
